.contact-form {
  position: absolute;
  width: 70%;
  border-bottom: 2px solid rgb(212, 196, 196);
  right: 2rem;
  top: 12rem;
}
.contact-form label {
  font-weight: 600;
}
.contact-form button {
  border-radius: 7px;
  margin-bottom: 1rem;
}

.contact-heading {
  margin-bottom: 1rem;
}

.contact-heading button{
  position: absolute;
  right: 1rem;
  top: 11px;
}