



/* .expanceItems {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    padding:0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: #4b4b4b;
    color: rgb(203, 209, 213);
    width: 40%;
    margin-left: 30%;
    

}


.expanceAmount {
    order:3;
    background-color: #40005d;
    padding:0.5rem;
    border-radius: 12px;
    border: 2px solid white;
}

.expanceLocation {
    font-weight: 700;
} */

.expencesItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* box-shadow: 0 2px 8px rgba(0,0,0,0.25); */
    padding:0.5rem;
    margin: 1rem 0;
    /* border-radius: 12px; */
    background-color: #4b4b4b;
    color: rgb(203, 209, 213);
    width: 80%;
    margin-left: 10%;
}

.btn {
    padding: 2px 3px;
    background-color: #080505;
    color: antiquewhite;
    border-radius: 7px;
    border: 1px solid rgb(203, 190, 190);
}

.expenceItem-list {
    list-style: none;
    /* border: 3px solid brown; */
}



