
.expance-form {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    background-color: rgb(226, 188, 138);
    border-radius: 12px;
    margin-top: 1rem;

}

.items {
    /* height: 15rem; */
    display: flex;
    /* border: 3px solid red; */
   margin: 1rem;
   justify-content: space-around;
   text-align: center;
   flex-direction: column;
   width: 40%;
   margin-left: 25%;
   width: 50%;
   height: 10rem;
    
}

input{
    padding: 0.3rem;
    border-radius: 10px;
}

.btn-form {
    padding: 0.3rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}
