.expence-form {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  background-color: rgb(226, 188, 138);
  border-radius: 12px;
  margin-top: 1rem;
  /* border: 5px solid red;  */
  width: 94%;
  margin-left: 2.5%;
  
}

.items {
  display: flex;
  margin: 0.3rem;
  text-align: left;
  flex-wrap: wrap;
  color: black;
  justify-content: flex-start;
  align-items: stretch;
  align-content: space-around;
  flex-direction: column; 
  font-size: 0.9rem;
  /* border: 5px solid red; */
  
} 

.items>input {
  border: 2px solid rgb(83, 80, 80);
  padding: 0.3rem;
  border-radius: 10px;
  width: 50%;
  margin-bottom:0.3rem;
  cursor: pointer;
}
.items>label {
    font-weight: 700;
}

.btn-submit-form {
  padding: 0.3rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-right: 0.3rem;
}

.btn-cancel-form {
  padding: 0.3rem 0.5rem;
  left: 57%;
  top: 40.7%;
  border-radius: 10px;
}

